html, body {
    background-color: gray;
    padding-left: 10%;
    padding-right: 10%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    height: 100%;
}

div {
    align-content: center;
}

html > body > div > span {
    position: absolute;
    bottom: 0;
    margin: 10px;
}

#staticBG {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    text-align: center;
    background-color: lightgray;
    padding: 100px;
}